<!DOCTYPE html>
<html>
	  <%= erb(:_header) %>
	  <link href="<%= url('./styles/main.css') %>" rel="stylesheet" type="text/css" />

<body>
<%= erb(:_navbar) %>


<div id="container" class="container">
  <div class="row">
    <form action="/search" method="POST" class="p-3">
  
  		<h3>Select Websites to Query</h3>
      	<div class="form-check">
	      <label for="hofequipment" class="form-check-label">
		      <input type="checkbox" class="form-check-input" value="hofequipment"  name="hof"/>
		      	HOFequipment
	      </label>
		</div>

      	<div class="form-check">
	      <label for="IndustrialSafety" class="form-check-label">
	      	<input type="checkbox" class="form-check-input" value="industrialsafety" name="industry"/>
	      		IndustrialSafety
	      </label>
      	</div>
      	
      	<div class="form-check">
	      <label for="Toolfetch" class="form-check-label">
	      	<input type="checkbox" class="form-check-input" value="toolfetch"  name="tool"/>
	      		Toolfetch
	      </label>
      	</div>
  		
		<%= erb(:_example) %>

      	<input type="text" class="mb-3" name="q"/>
  		<input type="submit" class="btn btn-primary" />
    </form>
  </div>
</div>



<% if @hof %>
<div class="container">
	<h1 class="mt-3 mb-3">HOFequipment</h1>
	<table class="table table-striped table-hover">
		<thead class="thead-inverse">
			<td>Product Key</td>
			<td>Price</td>
		</thead>
		<% if @hofarray %>
			<% @hofarray.each_with_index do |item, index| %>
				<% if index % 2 == 0 %>
				<tr>
					<td><%= item %></td>
					<% elsif index % 2 == 1 %>
					<td>$<%= item %></td>
				</tr>				
				<% end %>
			<% end %>
		<% end %>
	</table>

	<div class="container mb-3">
		<div class="row">
			<a class="btn btn-primary btn-lg btn-block" href="/csv/hofequipment" role="button" download="HOFequipment">Download HOFequipment to Excel</a>	
		</div>	
	</div>
</div>

<% end %>


<% if @industry %>
<div class="container mt-5">
	<h1 class="mt-3 mb-3">Industrial Safety</h1>

	<table class="table table-striped table-hover">
		<thead class="thead-inverse">
			<td>Product Key</td>
			<td>Price</td>
		</thead>
		<% if @industrialarray %>
			<% @industrialarray.each_with_index do |item, index| %>
				<% if index % 2 == 0 %>
				<tr>
					<td><%= item %></td>
					<% elsif index % 2 == 1 %>
					<td>$<%= item %></td>
				</tr>				
				<% end %>
			<% end %>
		<% end %>
	</table>

	<div class="container mb-3">
		<div class="row">
			<a class="btn btn-primary btn-lg btn-block" href="/csv/industrialsafety" role="button" download="Industrial Safety">Download IndustrialSafety to Excel</a>	
		</div>	
	</div>

</div>

<% end %>

<% if @tool %>
<div class="container mt-5">
	<h1 class="mt-3 mb-3">Toolfetch</h1>

	<table class="table table-striped table-hover">
		<thead class="thead-inverse">
			<td>Product Key</td>
			<td>Price</td>
		</thead>
		<% if @toolfetcharray %>
			<% @toolfetcharray.each_with_index do |item, index| %>
				<% if index % 2 == 0 %>
				<tr>
					<td><%= item %></td>
					<% elsif index % 2 == 1 %>
					<td>$<%= item %></td>
				</tr>				
				<% end %>
			<% end %>
		<% end %>
	</table>

	<div class="container mb-3">
		<div class="row">
			<a class="btn btn-primary btn-lg btn-block" href="/csv/toolfetch" role="button" download="Toolfetch">Download Toolfetch to Excel</a>	
		</div>	
	</div>
</div>
<% end %>

</body>
</html>