<!DOCTYPE html>
<html>
	  <%= erb(:_header) %>
<body>
<%= erb(:_navbar) %>

<div class="container p-3">
	<div class="row">
		<div class="col align-self-center">
		<h1>Toolfetch</h1>
		<%= erb(:_example) %>
			<form action="/toolfetch" method="POST" class="form-inline">
				<%= erb(:_innerform) %>
			</form>
		</div>
	</div>
</div>


<%= erb(:_table) %>
<div class="container">
	<div class="row">
		<a class="btn btn-primary btn-lg btn-block" href="/csv/toolfetch" role="button" download="Toolfetch">Download this table as a CSV</a>	
	</div>	
</div>

</body>
</html>